<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <arguments>
            <argument name="extensions" xsi:type="array">
                <item name="allowed" xsi:type="array">
                    <item name="pdf" xsi:type="string">application/pdf</item>
                    <item name="doc" xsi:type="string">application/msword</item>
                    <item name="docm" xsi:type="string">application/vnd.ms-word.document.macroEnabled.12</item>
                    <item name="docx" xsi:type="string">application/vnd.openxmlformats-officedocument.wordprocessingml.document</item>
                    <item name="csv" xsi:type="string">text/plain</item>
                    <item name="xml" xsi:type="string">application/xml</item>
                    <item name="xls" xsi:type="string">application/vnd.ms-office</item>
                    <item name="xlsx" xsi:type="string">application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</item>
                    <item name="zip" xsi:type="string">application/zip</item>
                    <item name="tar" xsi:type="string">application/x-tar</item>
                    <item name="rar" xsi:type="string">application/x-rar</item>
                </item>
                <item name="media_allowed" xsi:type="array">
                    <item name="pdf" xsi:type="string">application/pdf</item>
                    <item name="doc" xsi:type="string">application/msword</item>
                    <item name="docm" xsi:type="string">application/vnd.ms-word.document.macroEnabled.12</item>
                    <item name="docx" xsi:type="string">application/vnd.openxmlformats-officedocument.wordprocessingml.document</item>
                    <item name="csv" xsi:type="string">text/plain</item>
                    <item name="xml" xsi:type="string">application/xml</item>
                    <item name="xls" xsi:type="string">application/vnd.ms-office</item>
                    <item name="xlsx" xsi:type="string">application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</item>
                    <item name="zip" xsi:type="string">application/zip</item>
                    <item name="tar" xsi:type="string">application/x-tar</item>
                    <item name="rar" xsi:type="string">application/x-rar</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Widget\Model\Widget">
        <plugin name="parse_document_url_in_widget" type="MageSuite\FileUpload\Plugin\ParseFileUrlInWidget" sortOrder="10" />
    </type>

    <type name="Magento\Framework\Image\Adapter\Gd2">
        <plugin name="disable_image_processing_for_non_image_files" type="MageSuite\FileUpload\Plugin\DisableImageProcessingForNonImageFiles" sortOrder="10" />
    </type>
</config>
