<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Model\Wysiwyg\Images\Storage">
        <arguments>
            <argument name="extensions" xsi:type="array">
                <item name="allowed" xsi:type="array">
                    <item name="pdf" xsi:type="string">application/pdf</item>
                    <item name="doc" xsi:type="string">application/msword</item>
                    <item name="docm" xsi:type="string">application/vnd.ms-word.document.macroEnabled.12</item>
                    <item name="docx" xsi:type="string">application/vnd.openxmlformats-officedocument.wordprocessingml.document</item>
                    <item name="csv" xsi:type="string">text/plain</item>
                    <item name="xml" xsi:type="string">application/xml</item>
                    <item name="xls" xsi:type="string">application/vnd.ms-office</item>
                    <item name="xlsx" xsi:type="string">application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</item>
                    <item name="zip" xsi:type="string">application/zip</item>
                    <item name="tar" xsi:type="string">application/x-tar</item>
                    <item name="rar" xsi:type="string">application/x-rar</item>
                    <item name="mp4" xsi:type="string">video/mp4</item>
                    <item name="webp" xsi:type="string">image/webp</item>
                    <item name="webm" xsi:type="string">video/webm</item>
                </item>
                <item name="media_allowed" xsi:type="array">
                    <item name="pdf" xsi:type="string">application/pdf</item>
                    <item name="doc" xsi:type="string">application/msword</item>
                    <item name="docm" xsi:type="string">application/vnd.ms-word.document.macroEnabled.12</item>
                    <item name="docx" xsi:type="string">application/vnd.openxmlformats-officedocument.wordprocessingml.document</item>
                    <item name="csv" xsi:type="string">text/plain</item>
                    <item name="xml" xsi:type="string">application/xml</item>
                    <item name="xls" xsi:type="string">application/vnd.ms-office</item>
                    <item name="xlsx" xsi:type="string">application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</item>
                    <item name="zip" xsi:type="string">application/zip</item>
                    <item name="tar" xsi:type="string">application/x-tar</item>
                    <item name="rar" xsi:type="string">application/x-rar</item>
                    <item name="mp4" xsi:type="string">video/mp4</item>
                    <item name="webm" xsi:type="string">video/webm</item>
                </item>
                <item name="image_allowed" xsi:type="array">
                    <item name="webp" xsi:type="string">image/webp</item>
                </item>
            </argument>
        </arguments>
        <plugin name="set_file_uploaded_type_to_null" type="MageSuite\FileUpload\Plugin\Cms\Model\Wysiwyg\Images\Storage\UnsetUploadedFileType"/>
    </type>

    <type name="MageSuite\FileUpload\Plugin\Magento\Framework\Image\Adapter\AbstractAdapter\DisableImageProcessingForNonImageFiles">
        <arguments>
            <argument name="nonImageFilesExtensions" xsi:type="array">
                <item name="pdf" xsi:type="string">pdf</item>
                <item name="doc" xsi:type="string">doc</item>
                <item name="docm" xsi:type="string">docm</item>
                <item name="docx" xsi:type="string">docx</item>
                <item name="csv" xsi:type="string">csv</item>
                <item name="xml" xsi:type="string">xml</item>
                <item name="xls" xsi:type="string">xls</item>
                <item name="xlsx" xsi:type="string">xlsx</item>
                <item name="zip" xsi:type="string">zip</item>
                <item name="tar" xsi:type="string">tar</item>
                <item name="rar" xsi:type="string">rar</item>
                <item name="mp4" xsi:type="string">mp4</item>
                <item name="webp" xsi:type="string">webp</item>
                <item name="webm" xsi:type="string">webm</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\MediaGallerySynchronization\Model\FetchMediaStorageFileBatches">
        <arguments>
            <argument name="fileExtensions" xsi:type="array">
                <item name="mp4" xsi:type="string">mp4</item>
                <item name="webp" xsi:type="string">webp</item>
                <item name="webm" xsi:type="string">webm</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\MediaGalleryIntegration\Plugin\SaveImageInformation">
        <arguments>
            <argument name="imageExtensions" xsi:type="array">
                <item name="svg" xsi:type="string">svg</item>
                <item name="mp4" xsi:type="string">mp4</item>
                <item name="webp" xsi:type="string">webp</item>
                <item name="webm" xsi:type="string">webm</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Widget\Model\Widget">
        <plugin name="parse_document_url_in_widget" type="MageSuite\FileUpload\Plugin\ParseFileUrlInWidget" sortOrder="10"/>
    </type>

    <type name="Magento\Framework\Image\Adapter\AbstractAdapter">
        <plugin name="disable_image_processing_for_non_image_files" sortOrder="10"
                type="MageSuite\FileUpload\Plugin\Magento\Framework\Image\Adapter\AbstractAdapter\DisableImageProcessingForNonImageFiles"/>
    </type>

    <type name="Magento\MediaGalleryIntegration\Plugin\SaveImageInformation">
        <arguments>
            <argument name="imageExtensions" xsi:type="array">
                <item name="pdf" xsi:type="string">pdf</item>
            </argument>
        </arguments>
    </type>
</config>
